/*
   section athletes
   ========================================================================== */

   .athletes .wrapper{
      color: var(--color-black);
      text-align: right;

      max-width: 730px;
   }