/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'PT Sans', sans-serif;

    --font-size-content:  #{typo(14px, 18px)};
    --font-size-nav:  #{typo(16px)};

    /// Grosseur des textes
    --font-size-logo: #{typo(40px, 40px)};
    --font-size-button: #{typo(14px, 16px)};
    --font-size-h1: #{typo(75px, 100px)};
    --font-size-h2: #{typo(35px, 50px)};
    --font-size-h3: #{typo(25px, 35px)};
}

.text-logo{
    font-size: var(--font-size-logo);
    color: var(--color-black);
    font-family: var(--font-primary);
    font-weight: bold;

}

.bold{
    font-weight: 700;
}

